.head-block{
    height:250px;
    background:url(images/header.jpg) left center no-repeat;
}
.top-menu{
    background:#daf2fe;
}
.top-menu ul{
    padding-left:0;
    margin-bottom:0;
}
.top-menu li{
    display:inline-block;
    margin-left:10px;
    padding:3px 10px;
}
body {
	background-color: #bfff80;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2d2d2d;
}
#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.text-muted {
    color: #f2f2f2;
}
td, th {
	padding: 2px;
	border: 2px solid #e0ebeb;
}
th{
	text-align: center;
	font-size: 16px;
	font-family: Times New Roman, serif;
}
/*table{
	background: #e6ffcc;
}*/
.table-bordered {
	border: 3px solid #e0ebeb ;
}

.navbar{
	list-style: none;
}
caption{
	caption-side: top;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: black;
}
#myInput {
    background-image: url(images/search.png); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 13px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: black;
}
a {
	text-decoration: none;
	background-color: transparent;
}
.container-bg{
    background: rgba(0, 0, 0, 0.1);
}